* {margin:0;padding:0;box-sizing: border-box;}

.header, .first, .recommended {padding:0 20px;background-color: rgba(245,245,245,.9);}
.header {height: 200px;display: flex;justify-content: space-between;align-items: center;}
.header .header__title {display: flex;flex-direction: column;}
.header .header__title p {color:#aaa;}
.header .header__btn button {background-color: transparent; border: 0;outline: 0;}
.header .header__btn button:first-child {margin-right: 20px;}
.header .header__btn button i {font-size: 20px;color:#aaa;}

.first {position: relative;padding: 0 10px; display: flex;flex-direction: column;align-items: center;height: 500px;}
.first .first__img {width:100%;overflow: hidden;height: 400px;border-radius: 20px;}
.first .first__img img {width: 100%;margin-top: -750px;}
.first  .first__heart {position: absolute;top:20px;right:30px;width: 50px;height: 50px;background-color: #fff;display: flex;align-items: center;justify-content: center;border-radius: 50%;cursor: pointer;}
.first  .first__heart i {color:red;font-size: 20px;}

.first__info {position:absolute;top:300px;width:80%;display: flex;flex-direction: column;box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);padding:10px 30px;background-color: #fff;border-radius: 20px;}
.first__info h2,p {line-height: 40px;}
.first__info p {color:#aaa;}
.first__info .first__info__br {height: 1px;border-top:1px solid #555;margin-bottom: 10px;}
.first__info .first__info__btn {display: flex;justify-content: space-evenly;align-items: center;height: 40px;}
.first__info .first__info__btn span {font-size: 14px;color:gray;margin-right: 10px;}
.first__info .first__info__btn button {background-color: transparent;border:0; outline: 0;cursor: pointer;}
.first__info .first__info__btn button i {font-size: 20px;}

.recommended .recommended__title {display: flex;justify-content: space-between;align-items: center;}
.recommended .recommended__title button {background-color: transparent;border: 0;outline: 0;font-size: 16px;color:gray;height: 50px;}
.recommended .recommended__list {display: grid; grid-template-columns: repeat(4, 1fr);grid-gap: 20px;}
.recommended .recommended__list .recommended__item {width:100%;height: 200px;position: relative;}
.recommended .recommended__list .recommended__item .recommended__img img {width: 100%;height: 200px;border-radius: 20px 20px;}

.recommended_text {position: absolute;bottom:0;background-color: #fff;width:100%; padding:20px;border-radius: 0 0 20px 20px;}


